:root {
    --vp-c-brand-1: #7B5AF4;
    --vp-c-brand-2: #5B58EF;
    --vp-c-brand-3: #1155D9;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(120deg, #7B5AF4, #1155D9);
}

.dark {
    --vp-c-bg: #151515;
}